.container .form {
  width: 100%;
  margin: 0 0 75px;
  text-align: center;
}

.container .form input {
  display: block;
  width: 100%;
  padding: 15px;
  margin-top: -25px;
  background: none;
  background-color: rgba(255, 255, 255, 0.5);
  outline: none;
  border: none;
  border-radius: 0 0 16px 16px;
  box-shadow: 0 5px rgba(0, 0, 0, 0.2);
  color: #313131;
  font-size: 20px;
  transition: all 0.4s ease;
}

.container .form input:focus {
  background-color: rgba(255, 255, 255, 0.8);
}

.container .form .search {
  width: 80px;
  height: 25px;
  border: none;
  border-radius: 30px;
}
